<%= form_with(model: @task, local: true ) do |f| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :explanation %>
  <%= f.text_area :explanation %>

  <%= f.label :deadline %>
  <%= f.datetime_select :deadline %>

  <%= f.label :progress %>
  <%= f.select :progress, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]] %>

  <%= f.label :priority %>
  <%= f.select :priority, Task.priorities.keys.to_a %>

  <%= f.label :label %>
  <%= f.collection_check_boxes(:label_ids, Label.all, :id, :name) %>

  <%= f.submit %>

  <%= link_to "戻る", tasks_path %>

<% end %>