<h1>タスク一覧</h1>

<%= link_to "新規作成", new_task_path %>

<% @task.each do |task| %>
  <table>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.explanation %></td>
      <td><%= task.updated_at.strftime('%Y/%m/%d %R') %></td>
      <td><%= link_to "詳細", task %></td>
      <td><%= link_to "編集", edit_task_path(task.id) %></td>
      <td><%= button_to "削除", task_path(task.id), method: :delete %></td>
    </tr>
  </table>

<% end %>